Repository hongkongkiwi/fast-tts-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with cargo fmt
  entry: cargo fmt
  args:
  - --all
  - --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with cargo clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check Rust code compiles
  entry: cargo check
  args:
  - --all-targets
  - --all-features
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: cargo test
  args:
  - --all-features
  language: system
  pass_filenames: false
  stages:
  - push

cargo-audit:
  name: cargo audit
  description: Audit Rust dependencies for security vulnerabilities
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - push

Add markdownlint configuration
  .markdownlint.json
Due: none

Align pre-commit config with CI workflows
  .pre-commit-config.yaml
Due: none

feat(cli): add AudioEncoding enum, proxy-safe HTTP client for localhost, and new CLI flags
  src/main.rs
  tests/bulk.rs
  tests/cli.rs
  tests/http_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

feat(cli): add MCP server mode and optional multi-provider TTS
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit

feat(gemini): add Gemini speech provider and update docs
  CLAUDE.md
  README.md
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

feat(cli): add --play flag and provider feature-gating
  Cargo.toml
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: ^Cargo\.(toml|lock)$
